<div class="container d-flex flex-column  px-4 py-2" style="height: 100%;">
    <div class="d-flex justify-content-between">

        <h4>Customer management</h4>

    </div>
    <div class="main-box p-1" style="width: 100%;">


        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="badge-grey">#</th>
                    <th class="badge-grey">Name</th>
                    <th class="badge-grey">Mobile</th>
                    <th class="badge-grey">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Amrit</td>
                    <td>9876543210</td>
                    <td>
                        <button class="btn btn-sm btn-primary" style="margin-right: 10px;">
                            <i class="fa fa-edit"></i>
                        </button>
                       
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Amrit</td>
                    <td>9876543210</td>

                    <td>
                        <button class="btn btn-sm btn-primary mr-4" style="margin-right: 10px;">
                            <i class="fa fa-edit"></i>
                        </button>
                    
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</div>

