<div class="container d-flex justify-content-center align-items-center p-4" style="height: 100%;">


    <div class="main-box p-4" style="width: 70%;">
        <div class="d-flex justify-content-around ">

            <button class="btn btn-sm btn-primary">Login</button>
            <a routerLink="/register" class="btn btn-sm btn-outline-primary">SignUp</a>

        </div>



        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <hr />

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" (keydown.space)="$event.preventDefault()"
                    formControlName="username">
            </div>
            <!-- <div class="error-msg" *ngIf="submitted && a.username.errors">
            <span style="color:red" *ngIf="a.username.errors.required">Username
                is required.</span>
        </div> -->


            <div class="mb-4">
                <label for="password" class="form-label">Password</label>

                <input type="password" class="form-control" (keydown.space)="$event.preventDefault()"
                    formControlName="password" id="password">

            </div>
            <!-- <div class="error-msg" *ngIf="submitted && a.password.errors">
            <span style="color:red" *ngIf="a.password.errors.required">Password
                is required.</span>
        </div> -->


            <div class="d-flex justify-content-center pt-4">

                <button type="submit" class="btn btn-primary text-center" style="">Submit</button>
            </div>

            <div class="d-flex justify-content-center align-items-center" style="gap:10px; margin-top: 4rem;">

                <span class="">New User ? click here</span>
                <a routerLink="/register" class="fw-bold">SignUp</a>
            </div>
        </form>

    </div>


</div>