<div class="container d-flex flex-column  px-4 py-2 booking">
    <div>

        <h4>Book a cargo</h4>
    </div>
    <div class="main-box p-1" style="width: 100%;">

        <form>


            <div class="row">
                <div class="col-6">
                    <label for="name" class="form-label">name</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                </div>

                <div class="col-6">
                    <label for="phone" class="form-label">Phone No</label>
                    <input type="number" class="form-control" id="phone" formControlName="phone">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <label for="phone" class="form-label">Cargo Type</label>
                    <select class="form-select" aria-label="Default select example" formControlName="cargotype">
                        <option value="">-----</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="col-6">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="quantity" formControlName="quantity">
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <label for="fromCity" class="form-label">From City</label>
                    <select class="form-select" aria-label="Default select example" formControlName="fromCity">
                        <option value="">-----</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="col-6">
                    <label for="toCity" class="form-label">To City</label>
                    <select class="form-select" aria-label="Default select example" formControlName="toCity">
                        <option value="">-----</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>


            <div class="row">
               

                <div class="col-6">
                    <label for="weight" class="form-label">Weight (Kg)</label>
                    <input type="number" class="form-control" id="weight" formControlName="weight">
                </div>
            </div>



            <div class="d-flex justify-content-center pt-4">

                <button type="submit" class="btn btn-primary text-center" style="">Calculate</button>
            </div>


        </form>


        <div class="container amount-box">
            <h5  class="fw-bold">Amount</h5>
            <h5 class="d-flex justify-content-between"><span class="fw-bold">GST</span> <span>18%</span></h5>
            <h5 class="d-flex justify-content-between"><span class="fw-bold">Total</span> <span>93746</span></h5>
        </div>

    </div>


</div>