<div class="container d-flex flex-column  p-4" style="height: 100%;">
    <div>

        <h4>Calculate Cargo Price</h4>
    </div>
    <br />
    <div class="main-box p-1" style="width: 100%;">

        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Select Cargo Type</label>
                <select class="form-select" aria-label="Default select example">
                    <option value="">-----</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="weight" class="form-label">Weight (Kg)</label>
                <input type="number" class="form-control" id="weight">
            </div>

            <button type="submit" class="btn btn-primary">Calculate price</button>
        </form>
    </div>

</div>