<div class="container d-flex flex-column  px-4 py-2" style="height: 100%;">
    <div class="d-flex justify-content-between">

        <h4>Cargo management</h4>
        <button class="btn btn-sm btn-outline-primary" (click)="open(content)">Add cargo type</button>

    </div>
    <div class="main-box p-1" style="width: 100%;">


        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="badge-grey">#</th>
                    <th class="badge-grey">Name</th>
                    <th class="badge-grey">Fare</th>
                    <th class="badge-grey">Action</th>								

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>XYZ</td>
                    <td>9999</td>
                    <td>
                        <button class="btn btn-sm btn-primary mr-4">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
                

            </tbody>
        </table>

    </div>

</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add cargo type</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        
        <form (ngSubmit)="addCargoType()">
        
            <div class=" mb-4">
                <div class="form-group auth-form-group-custom mb-0">
                    <label for="category">Category</label>
                    <input required="true" type="text" class="form-control" id="category" formControlName="category">
                </div>
            </div>

            <div class=" mb-4">
                <div class="form-group auth-form-group-custom mb-0">
                    <label for="price">Price</label>
                    <input required type="number" class="form-control" id="price" formControlName="price">
                </div>
            </div>

            <div class="mt-4 text-center">
                <button class="btn btn-primary w-md waves-effect waves-light"  (click)="modal.dismiss('Cross click')"
                    type="submit">Submit</button>
            </div>


        </form>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div> -->
</ng-template>