<div class="container d-flex flex-column  px-4 py-2" style="height: 100%;">
    <div class="d-flex justify-content-between">

        <h4>Register requests</h4>
        <!-- <button class="btn btn-sm btn-outline-primary" (click)="open(content)">Add Employee</button> -->

    </div>
    <div class="main-box p-1" style="width: 100%;">


        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="badge-grey">#</th>
                    <th class="badge-grey">Customer Name</th>
                    <th class="badge-grey">Mobile</th>
                    <th class="badge-grey">Requested Date</th>
                    <th class="badge-grey">Status</th>                    
                    <th class="badge-grey">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Amrit</td>
                    <td>9876543210</td>
                    <td>11-06-2023</td>
                    <td><span class="badge rounded-pill text-bg-danger">Pending</span></td>
                    <td>
                        <button class=" py-0 btn btn-sm btn-outline-success mr-4" style="margin-right: 10px;">
                            <i class="fa fa-check"></i>Approve
                        </button>
                        <button class=" py-0 btn btn-sm btn-outline-danger">
                            <i class="fa fa-times"></i>Reject
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Amrit</td>
                    <td>9876543210</td>
                    <td>11-06-2023</td>
                    <td><span class="badge rounded-pill text-bg-success">Approved</span></td>
                    <td>
                      
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</div>

